# Python virtual environment and cache
.venv/
__pycache__/
*.pyc


# PyInstaller temporary builds and output specs
build/
dist/
*.spec

# User local databases and configuration logs
config.json
playlists.json
combos.json
debug_run.txt
